@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #EDD263;
}

nav{
    width: 70%;
    margin: 25px auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

nav div > a{
    font-weight: 900;
    font-size: 1.4rem;
    color: rgba(59, 45, 100, 1);
}

nav div ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 5px 15px;
    cursor: pointer;
}

nav ul li a{
    font-weight: 500;
}

div#search-bar{
    width: 27%;
    margin: 75px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

div#search-bar #search-field, 
div#search-bar #search-btn{
    outline: none;
    border: none;
    padding: 10px;
    font-size: 15px;
}

div#search-bar #search-field{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-right: 0;
    color:darkgray;
    background-color: transparent;
    width: 82%;
}

div#search-bar #search-btn{
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: 0;
    background-color: rgba(59, 45, 100, 1);
    color: #fff;
    cursor: pointer;
}

div#search-bar #search-btn:hover{
    background-color: rgb(66, 37, 153);
}

main {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 10px auto 45px;
}

main div{
    border-radius: 20px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
}

main div img{
    width: 100%;
    object-fit: contain;
}

main div h4{
    color: #252525;
    padding: 30px;
}

section{
    width: 30%;
    height: 90vh;
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    padding-bottom: 25px;
}

section > i{
    position: fixed;
    right: 25px;
    top: 30px;
    color: tomato;
    font-size: 25px;
    cursor:pointer;
}

section img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

section h2, section h4, section p{
    padding: 5px 30px;
}

section h2{
    padding: 15px 30px
}

section h2{
    font-size: 1.8rem;
}

section p{
    font-size: 1rem;
    font-weight: 500;
}

section p i{
    color: #3B2D64;
}

@media only screen and (max-width: 992px){
    div#search-bar{
        width: 50%;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
    }

    section{
        width: 80%;
        height: 100%;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 550px){
    section{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    div#search-bar{
        width: 70%;
    }

    main{
        grid-template-columns: 1fr;
    }
}